<div class="h-custom-screen w-full bg-dark tipoletra p-2 text-white">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-6">
        <img src="assets/logogente.png" alt="" class="h-100 w-50" />
      </div>
      <div class="col-6 ">
        <form [formGroup]="loginFormGroup" (ngSubmit)="leerDatos()">
          <div class="d-flex flex-column justify-content-center gap-3">
            <h2 class="text-white text-center">Registrar</h2>
            <div class="d-flex flex-column gap-3">
              <input formControlName="email" class="colorIn text-white" autocomplete="off" type="email" placeholder="Email" />
              <input formControlName="password" class="colorIn text-white"  autocomplete="off" type="password" placeholder="Contraseña" />
            </div>
            <div>
              No tienes una Cuenta? <span class="colorReg">
                <a href="#">
                  Registrar
                </a></span>
            </div>
            <button [disabled]="loginFormGroup.invalid" type="submit" class="btn btn-primary colorBtn">
              Ingresar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
