<div class="h-custom-screen w-full bg-dark tipoletra p-2 text-white">
  <div class="d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-6">
        <img src="assets/logogente.png" alt="" class="h-100 w-50" />
      </div>
      <div class="col-6">
        <div class="d-flex flex-column justify-content-center gap-3">
          <h2 class="text-white text-center">Registrar</h2>
          <div class="d-flex flex-column gap-3">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Contraseña" />
          </div>
          <div>
            No tienes una Cuenta? <span class="colorReg">Registrar</span>
          </div>
          <button type="button" class="btn btn-primary colorBtn">
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
