<section class="tipoletra bg-dark">
    <p class="p-3 text-center text-uppercase text-bg-dark">cards works!</p>

    <h2 class="text-center p-2"> Categorias Principales </h2>
    <div class="container">
      <div class="row">

        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12  p-4">
          <div class="editcard card text-center">
            <img src="assets/22222222.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">13 Reasons Why</h5>

            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
            <div class="editcard card text-center">
              <img src="assets/dea.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title fw-bold">The Walking Dead</h5>
  
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
            <div class="editcard card text-center">
              <img src="assets/eew.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title fw-bold">Buscando a Nemo</h5>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
