

    <section class="tipoletra bg-dark text-white">
      <div class="bg-dark">
        <button type="button" class="btn btn-primary mx-2" (click)="setFilter('Todos')" [ngClass]="{ 'active': filter === 'Todos' }">Todos</button>
        <button type="button" class="btn btn-primary mx-2" (click)="setFilter('Pelicula')" [ngClass]="{ 'active': filter === 'Pelicula' }">Peliculas</button>
        <button type="button" class="btn btn-primary mx-2" (click)="setFilter('Serie')" [ngClass]="{ 'active': filter === 'Serie' }">Series</button>
      </div>
      <p class="p-3 text-center text-uppercase text-bg-dark">cards works!</p>
      <h2 class="text-center p-2">{{ filter === 'Pelicula' ? 'Peliculas' : (filter === 'Serie' ? 'Series' : 'Todos') }}</h2>      <div class="container">
        <div class="row">
          <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4" *ngFor="let card of arrayInfoCards">
            <div class="editcard card text-center" *ngIf="filter === 'Todos' || filter === card.categoria">
              <img src="{{card.urlImg}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title fw-bold text-white" *ngIf="card.name !== 'Buscando a Nemo'">{{card.name}}</h5>
                <p class="text-white">{{card.descripcion}}</p>
                <p class="text-secondary">{{card.categoria}}</p>
                <p class="text-secondary">El Puntaje Es: {{card.rating}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
