<div class="container-fluid bg-dark">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <a href="#">
        <img src="assets/images.png" alt="ddd" height="70" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item justify-content-end">
            <a class="nav-link active " aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ingresar</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
  <div class="bg-dark tipoletra bg-dark mx-auto text-center pt-5 text-white text-uppercase">
      <h1 class="p-10 fs-1  border-8 fw-semibold " > Bienvenidos a 
       <span class="text-danger"> PELIS UP! </span>
        </h1>
        <p class="p-3 fs-4">  Plataforma para ver 
         <span class="text-danger"> peliculas y series </span> 
         </p>
    <form class="d-flex p-3" role="search" >
      <input class="form-control me-2 h-25 w-25" type="search" placeholder="Buscar peliculas o series" aria-label="Buscar">
      <button class="btn btn-outline-danger "  type="submit">Buscar</button>
    </form>
  </div>
  <div class="bg-dark container">
    <button type="button" class="btn btn-primary mx-2">Todos</button>
    <button type="button" class="btn btn-primary mx-2">Peliculas</button>
    <button type="button" class="btn btn-primary mx-2">Series</button>
  </div>
  
  
  <section class="tipoletra bg-dark">
    <h2 class="text-center p-2"> Categorias Principales </h2>
    <div class="container">
      <div class="row">
  
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12  p-4">
          <div class="editcard card text-center">
            <img src="assets/22222222.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">13 Reasons Why</h5>
            
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/dea.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">The Walking Dead</h5>
              
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/eew.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Buscando a Nemo</h5>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="tipoletra bg-dark">
    <div class="container">
      <div class="row">
  
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12  p-4">
          <div class="editcard card text-center">
            <img src="assets/images.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Los vengadores</h5>
              
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/na.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Narcos</h5>
            
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/pi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Breaking Bad</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="tipoletra bg-dark">
    <div class="container">
      <div class="row">
  
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12  p-4">
          <div class="editcard card text-center">
            <img src="assets/strad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Stranger things</h5>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/qwqw.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">The purge</h5>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-xl-4 col-lg-4 col-md-12 col-sm-12 p-4">
          <div class="editcard card text-center">
            <img src="assets/qq.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bold">Cruella</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  

</div>
