<div class="bg-dark tipoletra bg-dark mx-auto text-center pt-5 text-white text-uppercase">
    <p class="p-3 text-bg-dark">home works!</p>
    <h1 class="p-10 fs-1  border-8 fw-semibold " > Bienvenidos a 
     <span class="text-danger"> PELIS UP! </span>
      </h1>
      <p class="p-3 fs-4">  Plataforma para ver 
       <span class="text-danger"> peliculas y series </span> 
       </p>
  <form class="d-flex p-3" role="search" >
    <input class="form-control me-2 h-25 w-25" type="search" placeholder="Buscar peliculas o series" aria-label="Buscar">
    <button class="btn btn-outline-danger "  type="submit">Buscar</button>
  </form>
</div>
<div class="bg-dark ">
    <button type="button" class="btn btn-primary mx-2">Todos</button>
    <button type="button" class="btn btn-primary mx-2">Peliculas</button>
    <button type="button" class="btn btn-primary mx-2">Series</button>
  </div>
